.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.course {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 300px;
  align-items: center;
  text-align: center;
}

.course img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 5px 5px rgba(160, 160, 160, 0.329);
}

.course p {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.course-description {
  font-size: smaller;
  padding: 0.5rem;
  line-height: 1.25;
}

@media(min-width: 572px) and (max-width: 768px){
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 769px) and (max-width: 1024px){
  .gallery{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1025px) and (max-width: 1200px){
  .gallery{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(min-width: 1201px) and (max-width: 1920px){
  .gallery{
    grid-template-columns: repeat(5, 1fr);
  }
}